{
  "presets": [
    [
      "env", {
        "modules": false,
        "loose": false,
        "useBuiltIns": false,
        "targets": {
          "node": 6
        }
      }
    ],
    "stage-2"
  ]
}
